*{
    margin: 0px;
    padding: 0px;
    font-family: 'Comfortaa', cursive;
}
body{
    font-family: 'Comfortaa', cursive;
}

.left-icon{
    display: inline-block;
    padding-left:20px;
    padding-top:0px;
    font-size: 20px;
   

}
.left-icon i{
    margin:10px;
    background-color: #303030;
    padding:15px;
    border-radius:33px;
    color:white;
}
.left-icon i:hover{
    background-color: white;
    color:#303030;
}
.right-icon{
    display: inline;
    float: right;
    padding: 15px 30px 10px 0;
    background-color: #212529;


}
.right-icon .fa{
color:#A2D84C;
margin:5px;

}
.btn{
    background-color: #A2D84C;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
}

/* NAV stying start */
.nav li a{
    font-size: 18px;
    font-weight: 700;
    color:black !important;
}
.nav li a:hover{
    border-bottom: 3px solid #A2D84C;
    font-weight:bolder!important;
}

@media (min-width: 360px)
 {  
    .navbar-brand{
        padding-top:60px!important;
        text-align: center!important;
    }
    .carousel-caption{
        padding-bottom: -0.75rem!important;
    }
 }

/* slider styling */
.slider-main{
    position: relative;
}
.btn-slider{
    background-color: #F2BC13;
    border: none;
    font-size: 18px;
    padding:5px;
}
.carousel-caption{
    position: relative;
    transform: translateY(50%);
    
}
.carousel-caption h5 
{
    font-size: 20px;
    font-weight: 500;
}

@media (min-width: 360px)
 {
    .carousel-caption{
        position: absolute;
        top: -135px;
        font-size: smaller!important;
    }  


/* why us stying */
.advantage-details h1{
    padding:15px 15px;
    text-align: center;
}
.why-section-inner div{
    text-align: center;

}
.why-section-inner div p{
    padding-top:20px;
}

}


/* About Us styling */

.main-about{
    background-color: #e6e6e6;
    background-image: url('./images/background.png');
    background-position: right;
    background-repeat: no-repeat;


    
}
.back-sec{
    text-align: center;
} 
.btn-about{
    background-color:#F2BC13;
    margin-left:50px;
    margin-top:10px;
    margin-bottom:10px;
    padding:5px;
    border: none;
}

    
/* Service section stying */
.services-details{
    text-align: center;
    padding: 25px 0 10px 0;
  
}
.service{
    text-align: center;
    
    
    
   
    
}
.service-icon{
    background-color: #F1F2F2;
    padding:0 14px 0 14px;
    margin-bottom: 46px;
    border-right:5px solid white;
   margin-top:20px;
   position: relative;

    
}
.service-icons{
    color:#E73F34;
    background-color:#F2BC13;
    font-size: 30px!important;
    padding:0px;
    border-radius: 40px;
    margin-bottom:10px;
    width:16%;
    text-align: center;
    position: absolute;
    top: -20px;
    left: 113px;
    
   
}
.service-details{
    margin-top:32px;
}

/* Portfoilio section stying */
.portfilo-main{
    background-color: #212121;
}
.sec-nav{
    display: flex;
    justify-content: center;
}
.sec-nav-details{
    display: flex;
    justify-content: center;
    color:white!important;
}
.nav > .nav-link{
    color:white!important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #0d6efd;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    color: white!important;
}
/* process section started */
.process {
    margin-bottom: 100px !important;
}
.img-outer{
    
    display: flex;
    justify-content: center;
}
.img-outer img{
    border: 1px solid #E1E2E3;
    border-radius: 56px;
    padding: 29px;
    width: 106px;
    height: 110px;
    
}
.number{
    text-decoration: solid;
    background-color: #F2BC13;
    /* display: inline; */
    padding: 11px;
    border-radius: 58px;
    position: relative;
    left: 69px;
    top: 7px;

}
.inner-proces{
    margin-top:20px;
    margin-bottom:20px;
}

/* skills styling section */
.main-prograss{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: white!important;
}
.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

/* QUOTATION STYING */
.main-quote{
    background-color: #8DC63F;
     height: 75vh;;
}
.form-control {
    display: initial;
    width: 30%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form{
    display: flex;
    justify-content: center;
    position: relative;

}
.form button{
    position: absolute;
    /* text-align: center; */
    /* display: inline-flex; */
    margin-top: 10px;
    display: block;
    
    left: 285px!important;
    top: 25px;
    background-color: #F2BC13!important;
    border: none;
};

/* contact section stying */

.main-contact{
    background-color: white!important;
}
/* footer styling */
.footer-main{
    background-color: #668E1A;
}
.footer-service{
    margin-top:20px;
    text-align: center;
    color:white;
    
}
.footer-service li{
    margin: 15px;
    list-style: none;
    border-right: 2px solid #80B332 ;
    color:white
    
}
.footer-useful{
    margin-top:20px;
    text-align: center;
    color:white

}
.footer-useful li{
    margin: 15px;
    list-style: none;
    color:white
}



@media (min-width: 360px) { 


    .services-details p{
        padding:0 25px 0 40px !important;
    }
    .form button{
        position: relative;
        left:190px!important;
        top:40px;
    }
    .card{
        margin-top:10px !important;
    }
 }
